@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    background-color: #E1E3E6;
    font-family: "Opens Sans",Verdana, sans-serif;
    height: 100vh;
}

nav{
    background-color: #FDFEFE;
}

ul{
    padding: 0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul li a{
    padding: 0.5rem;
    color: #656E79;
    text-decoration:none;
}

ul li a:hover{
    background-color: #748fc6;
    color: #FDFEFE;
    transition:0.5s;
    border-radius: 20px;
}

[src="imgs/logo.png"]{
    height: 27px;
    width: 75px;
}

[src="imgs/perfil.png"]{
    height: 30px;
    width: 30px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div#parte1{
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

section#informacoes-gerais > p:not(:last-child){
    border-bottom: 1px solid #555555;
}

section#informacoes-gerais > p{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

section#informacoes-gerais span{
    font-weight: bold;
    text-transform: capitalize;
}


div#favoritos, div#jogador, div#time-atual, div#altura-peso{
    display: flex;
    align-items:center;
}

div#favoritos > img{
    margin-right: 10px;
    padding: 5px;
    background-color: #D4D5D5;
    border-radius: 50%;
}

div#favoritos > img:hover{
    background-color: #178ACC;
    transition: 500ms;
}

div#jogador {
    margin-top: 20px;
}

div#jogador > h2{
    font-size: 60px;
}

div#time-atual > p > abbr{
    text-decoration: none;
}

div#altura-peso > p{
    margin: 10px;
    font-style: italic;
}

div#altura-peso > p > span{
    font-weight: bold;
    text-transform: uppercase;
}

div#parte2{
   position:relative;
}

div#parte2 h1 {
    font-size: 100px;
    background: -webkit-linear-gradient(#ffffff, #e2e2e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#parte2 > img{
    height: 560px;
    width: 541.18px;
    position: absolute;
    top: 0;
    right: 0;
}

div#parte2 > h2 {
    font-size: 90px;
    color: #C9102C;
    position: absolute;
    top: 15;
    left: 0;
}

div#parte2 > h3{
    font-size: 30px;
    color: #C9102C;
    position: absolute;
    top: 10;
    right: 0;
}

div#parte2 > section > div#card1{
    right: 15;
}
div#parte2 > section > div#card3{
    left: 15;
}

div#parte2 .card{
    position:absolute;
    text-align:center;
    height: 100px;
    bottom: 0;
    background-color: #184088;
    color: #f5f5f5;
    border-radius: 10%;
}

div#parte2 .card h5{
    padding: 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
}

div#parte2 .card p{
    display: inline-block;
    padding: 15px;
}